@import url('https://fonts.googleapis.com/css?family=Italianno|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Italianno&display=swap');
@import url('../../fonts/rhesmanisa/Rhesmanisa.woff');

@font-face {
      font-family: Rhesmanisa;
      src: url('../../fonts/rhesmanisa/Rhesmanisa.woff');

html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Italianno', sans-serif;
  text-align: center;
  margin: 0;
  padding-bottom: 0.5rem;
  border-bottom: solid 0.1rem rgba(255, 255, 255, 0.2);
}

a {
  text-align: center;
}
