@import url('https://fonts.googleapis.com/css?family=Italianno|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Italianno&display=swap');

html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Italianno', sans-serif;
}
