.product__section {
  position: relative;

  .product__image {
      background-image: url(../images/gallery-9.jpg);
      display: block;
      width: 100%;
      height: 86vh;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;

      img {
        width: 100%;
        height: 100%;
      }
  }

  .product__info {
      position: absolute;
      top: 40%;
      right: 5%;
      width: 50%; 
      color: white;

   }

   a {
      position: absolute;
      top: 20rem;
      right: 120%;
      background-color: transparent;
      border: 1px solid white;
    }

    .button__product {
      position: absolute;
      top: 18rem;
      right: 6%;
      background-color: transparent;
      color: white;
      border: 1px solid white;

        &:hover {
          background-color: transparent;
          box-shadow: 0.5rem 0.5rem 10rem black;
          background-color: rgba(74,5,21, 0.5);
    
        }
    }



    .product__title {
      position: absolute;
      top: -4vw;
      right: 6%;
      font-size: 5rem;

    }

    .product__description {
      position: absolute;
      top: 4vw;
      right: 4%;
      max-width: 30vw;
      font-size: 1.7rem;

    }
  }

