.product__section {
  position: relative;

  .product__image {
      background-image: url(../images/gallery-9.jpg);
      display: block;
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;

      img {
        width: 100%;
        height: 100%;
      }
  }

  .product__info {
      position: absolute;
      top: 40%;
      right: 5%;
      width: 50%; 
      color: white;

      a {
        position: absolute;
        top: 15rem;
        right: 120%;
        background-color: transparent;
        border: 1px solid white;

        &:hover {
          background-color: transparent;
          box-shadow: 0.5rem 0.5rem 10rem black;
          background-color: rgba(183,28,28, .3);
    
  }


        img {
        }
      }

    .product__title {
      position: absolute;
      top: 50%;
      right: 2rem;
      font-size: 5rem;

    }

    .product__description {
      position: absolute;
      top: 10vw;
      right: 0;
      max-width: 40vw;
      font-size: 1.7rem;

    }
  }

}
