.schedule__section {
  margin-top: 15rem;
  margin-bottom: 15rem;
  height: auto;

  .schedule__title {
    border-bottom: solid 0.1rem rgba(0, 0, 0, .2);
    width: 30%;
    margin: auto;
    font-size: 5rem;
  }

  .schedule__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: space-around;
    justify-content: center;
    padding-top: 3rem;

    .schedule-day {
      width: 14rem;
      height: 14rem;
      display: flex;
      justify-content:center;
      align-items:center;
      flex-direction:column;
      margin: 1rem;
      font-size: 1.7rem;

      @media screen and (max-width: 1024px) {
        &:hover {
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
          0 3px 1px -2px rgba(0, 0, 0, 0.12), 
          0 1px 5px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

