  .schedule__section {
    height: 72vh;
    margin-top: 12rem;

    .schedule__title {
      border-bottom: solid 0.1rem rgba(0, 0, 0, .2);
      width: 30%;
      margin: auto;
      font-size: 5rem;
    }

    .schedule__list {
      flex-flow: row wrap;
      display: flex;
      justify-content: center;
      height: 22rem;
      padding : 3rem 8rem 0 8rem;

      .schedule-day {
        text-align: center; 
        margin: auto;
        padding: 3rem;
        width: 14rem;
        font-size: 1.7rem;
      }
    }
  }
