
.container-index {

  .schedule__section {

    width: 100vw;
    height: 15vw;
    margin-top: 10rem;
    margin-bottom: 12rem;

    .schedule__title {
      border-bottom: solid 0.1rem rgba(0, 0, 0, .2);
      width: 30%;
      margin: auto;
      font-size: 5rem;
    }

    .schedule__list {
      flex-flow: row wrap;
      display: flex;
      justify-content: center;
      width: 100vw;
      height: 22rem;
      padding-top: 3rem;

      .schedule-day {
        text-align: center; 
        padding: 3rem; 
        margin: auto;
        width: 16rem;
        font-size: 2rem;
      }
    }

  }

  @media screen and (max-width: 1260px) {
    .schedule__section {
      height: 40rem;
    }
  }
  @media screen and (max-width: 720px) {
    .schedule__section {
      height: 50rem;
    }
  }
  @media screen and (max-width: 540px) {
    .schedule__section {
      height: 65rem;
    }
  }
  @media screen and (max-width: 360px) {
    .schedule__section {
      height: 120rem;
    }
  }

  .product__section {

  }

  .practice-info__section {

  }

}

