.main-carte {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 5vw;
  margin-bottom: 5vw;

  h2 {
    border-bottom: solid 0.1rem rgba(0, 0, 0, 0.2);
    font-size: 6rem;
    width: 60%;
    margin: auto;
    margin-bottom: 3.5rem;
    color: #2D2D2D;
    
        @media screen and (max-width: 500px) {
          font-size: 5rem;
        }
  }

  .section-food-type {
    margin-top: 5vw;
    margin-bottom: 5vw;
    padding: 3vw;
    width: 60%;
    border: solid 0.1rem #2D2D2D;

    @media screen and (max-width: 500px) {
      width: 90%;

    }

    .container-food-type__element-part {
      text-align: left;

      h3 {
        color: $wine;
        text-align: left;
        font-size: 4rem;
        margin-top: 0.5vw;
        margin-bottom: .5vw;

        @media screen and (max-width: 500px) {
          font-size: 3.5rem;
        }
      }

      span {
        color: #2D2D2D;
      }
      p {
        font-size: 2rem;
        color: rgba(0, 0, 0, .7);
        
        @media screen and (max-width: 500px) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
