.container-contact {
  display: flex;

  .about__section {
    display: block;
    width: 50vw;
    height: 100vh;
    text-align: center;

    
    .about__img {
      height: 50%;
      background-image: url('../images/banner1.jpg');
      background-size: cover;
      background-position: center center;
    }

    .about__title {
      font-size: 5rem;
      margin: 3vw 0 1rem 0;

    }

    .about__p {
      font-size: 1.7rem;
      padding: 0 3vw 03vw;

    }

  }

  .contact__section {

  }

}
