.container-contact {
  // background-image: url('../images/aboutimage.jpg');
  // background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__section {
  margin: 5vw auto auto auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;

  .about__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #2d2d2d;
    border-bottom: 1px solid #2d2d2d;
    width: 30vw;
  }

  .about__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    padding: 3vw;

    .about__p {
      padding: 1vw;
    }
  }

}

.contact__section {
  display: flex;

  .contact__form {
    border: 1px solid $gray;
    background-color: rgba(255, 255, 255, 0.1);

    fieldset {
      width: 60vw;
      // display: grid;
      // grid-template-columns: auto auto;
      // grid-template-rows: 16% 16% 16% 32% 1fr;
      // grid-gap: 1rem;

      .input-field {

        label {
          font-size: 1.7rem;
          color: $dark;
        }

        input {
          padding-bottom: 0.7rem;
        }

        input:focus + label {
          font-size: 1.5rem;
          color: #2d2d2d;
        }

        input:focus {
          border-bottom: 1px solid #2d2d2d;
          box-shadow: 0 1px 0 0 #000;
        }

        textarea {
          font-size: 1.7rem;
          padding-bottom: 5rem;
        }

        textarea:focus + label {
          font-size: 1.5rem;
          color: #2d2d2d;
        }

        textarea:focus {
          border-bottom: 1px solid #2d2d2d;
          box-shadow: 0 1px 0 0 #000;
        }

      }

      .contact__button {
        display: flex;
        justify-content: center;
        padding-bottom: 2vw;

        .button__form {
          background-color: transparent;
          border: 1px solid #2d2d2d;
          color: #2d2d2d;
          width: 25vw;

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            color: $dark;
          }
        }
      }

    }

  }

}

.select-wrapper {
  padding-top: 2rem;
}

.contact__map {
  display: flex;
  margin: auto auto 5vw auto;
  width: 61%;
  border: 1px solid rgba(0, 0, 0, .3)
}
