.container-contact {
  // background-image: url('../images/aboutimage.jpg');
  // background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .about__section {
    margin: 5vw auto auto auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;

    .about__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 5rem;
      color: #2d2d2d;
      border-bottom: 1px solid #2d2d2d;
      width: 30vw;
    }

    .about__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.7rem;
      padding: 3vw;

      .about__p {
        padding: 1vw;
      }
    }

  }

  .contact__section {
    display: flex;

    .contact__form {
      border: 1px solid $gray;
      background-color: rgba(0, 0, 0, 0.7);

      fieldset {
        width: 60vw;
        // display: grid;
        // grid-template-columns: auto auto;
        // grid-template-rows: 16% 16% 16% 32% 1fr;
        // grid-gap: 1rem;

        .input-field {

          label {
            font-size: 1.7rem;
            color: $white;
          }


          input {
            padding-bottom: 0.7rem;
          }

          textarea {
            font-size: 1.7rem;
            padding-bottom: 5rem;
          }

          input[type=text]:focus + label {
            font-size: 1.5rem;
            color: $wine;
          }

          .contact__button {
            display: flex;
            float: right;

           .button__form {
           }
          }
        }

      }

    }

  }

    .contact__map {
      display: flex;
      margin: auto auto 5vw auto;
      width: 60%;
    }
