.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  height: 40rem;
  background-color: #2D2D2D;
  color: white;
  font-size: 1.5rem;

  .footer__address {
    width: 25%;
    height: 100%;
    display: flex;
    padding-top: 5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    p, a {
      color: white;
      text-decoration: none;
      padding: .5rem 0 .5rem 0;
    }

    .footer__address-social {
      display: flex;

      img {
        width: 50px;
        height: 50px;
      }
    }

    .footer__h2 {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  .footer__schedule {
    @extend .footer__address;
  }

  .footer__newsletter {
    @extend .footer__schedule;
    align-items: center;

    button {
      width: 90%;
      height: 4rem;
      max-width: 21rem;
    }

    label {
      font-size: 1.5rem;
    }

    input {
      padding-bottom: .5rem;
    }

    i {
      padding-top: .5rem;
    }

  }

}

