.container-gallery {


  .container-gallery__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    figure {
      overflow: hidden;
      margin: 0;
      max-width: 100%;
      max-height: 100%;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      transition: all  ease .3s; /* Animation */
    }

    img:hover {
      transform: scale(1.3);
    }
  }

}
