.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40rem;

  h1 {
    font-size: 5.5rem;
    width: 20%;
    padding-bottom: 0.5rem;
    border-bottom: solid 0.1rem rgba(0, 0, 0, .2);
  }
}

.header__banner {
  background-image: url("../images/IMG_5203.JPG");
  background-size: cover;
  background-position: center center;
  height: 40vw;
  
}
