
//////////////////////
//  GENERAL HEADER  //
//////////////////////

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50rem;
  background-size: cover;
  background-position: center center;


  h1 {
    font-size: 6rem;
    width: 30%;
    padding-bottom: 0.5rem;
    border-bottom: solid 0.1rem rgba(255, 255, 255, .2);
    color: white;

  }
}

.header-menu {
  @extend .header;
  background-image: url("../images/lacarte-large.jpg");

}

.header-gallery {
  @extend .header;
  background-image: url("../images/gallery-large.jpg");

}

.header-contact {
  @extend .header;
  background-image: url("../images/contact-large.jpg");
  background-position: center 70%;

}



////////////////////
//  HEADER INDEX  //
////////////////////

.header__banner {
  height: 100vh;
  margin-bottom: 0;
}

.header__banner::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  filter: brightness(40%);
  background-image: url("../images/banner2-large.jpg");
  background-size: cover;
  background-position: center center;
  z-index: -1;

}
.h1__banner {
  font-size: 5rem;
  padding-top: 30vh;
  margin: auto;
  width: 30%;
  color: rgba(255,255,255,0.7);
  border-bottom: solid 0.1rem rgba(255, 255, 255, .2);


}

.p__banner {
  margin: auto;
  padding-top: 2rem;
  font-size: 1.7rem;
  color: rgba(255,255,255,0.7);
}

.button__banner {
  border: 1px solid $white;
  margin-top: 10vw;
  width: 30vw;
  color: white;

  &:hover {
    background-color: transparent;
    box-shadow: 0.5rem 0.5rem 10rem black;
    background-color: rgba(74,5,21, 0.5);

  }
}
