.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40rem;
  background-image: url("../images/img-devanture.jpg");
  background-size: cover;
  background-position: center 30%;

  h1 {
    font-size: 7rem;
    width: 20%;
    padding-bottom: 0.5rem;
    border-bottom: solid 0.1rem rgba(255, 255, 255, .2);
    color: white;
  }
}

.header__banner {
  background-image: url("../images/IMG_5203.JPG");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;
}

.h1__banner {
  font-size: 5rem;
  padding-top: 30vh;
  margin: auto;
  width: 30%;
  color: rgba(255,255,255,0.7);
  border-bottom: solid 0.1rem rgba(255, 255, 255, .2);
}

.p__banner {
  padding-top: 2rem;
  font-size: 2rem;
  color: rgba(255,255,255,0.7);
}

.button__banner {
  margin-top: 20vh;
  max-width: 30rem;
  width: 30vw;
  z-index: 0 !important;

}
