.container-index {
  
  .schedule__section {
    width: 100vw;

    .schedule__title {
      padding-top: 10rem;
      border-bottom: solid 0.1rem rgba(0, 0, 0, .2);
      width: 30%;
      margin: auto;
    }

    .schedule__list {
      display: flex;
      justify-content: center;
      width: 100vw;
      height: 22rem;
      padding-top: 3rem;

      .schedule-day {
        text-align: center; 
        padding: 3rem 3rem 3rem 3rem;
        margin: 2rem;
        width: 16rem;
        font-size: 2rem;
      }
    }

  }

  .product__section {

  }

  .practice-info__section {

  }
  
}
