.nav {

  @media screen and (max-width: 980px) {
    display: none;
  }

  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, .7);
  height: 7rem;
  line-height: 7rem;
  z-index: 1;

  .nav__ul {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .nav__ul__li {
      text-align: center;
      width: 100%;
      height: 7rem;
    }

    .link-logo {
      background-color: transparent;
    }

    .logo-losfizio {
      margin-top: 2rem;
      object-fit: scale-down;
      max-width: 18rem;
      filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, 1));
    }

    a {
      font-size: 2rem;
      color: $white;
    }
  }
}

.navbar-fixed {

  @media screen and (min-width: 980px) {
    display: none;
  }
  nav { 
    background-color: rgba(0, 0, 0, .7);
  }

}

.sidenav {
  background-color: #2D2D2D;

  li > a {
    color: #d1d1d1;
    font-size: 1.6rem;
  }
}
