.nav {

  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, .7);
  height: 7rem;
  line-height: 7rem;
  z-index: 1;

  .nav__ul {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .nav__ul__li {
      text-align: center;
      width: 100%;
      height: 7rem;
    }

    .link-logo {
      background-color: transparent;
    }

    .logo-losfizio {
      padding: 2rem;
      width: 22rem;
    }


    a {
      font-size: 2rem;
      color: $white;
    }
  }
}
